<% layout('/layout') %> 
        <h1>All Lists</h1>
        <div class="maindiv">
            <div class="showLists">
                <% for (let user of users) { %> 
                    <a href="/todoList/<%=user._id%>"><div class="topic-card"><span><%= user.username %></span></div></a>
                <% } %> 
            </div>
        </div>
    </main>
    <script>
        const user = <%-JSON.stringify(currentUser)%>;
    </script>
    <script src="/javascripts/style.js"></script>