<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7dffca4d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/mainstyle.css">
</head>
<body>
    <main>
        <div class="landingMain">
            <div class="landingLeft">
                <h1>Create A Todo List</h1>
                <h3>Free up your brain for more important things.</h3>
                <button>Sign Up</button>
            </div>
            <!-- <img src="checklist.png" alt=""> -->
        </div>
    </main>
</body>
</html>