<% layout('/layout') %> 
        <div class="registerDiv">
            <h1>Register</h1>
            <form action="/register" method="POST">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" autofocus>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="text" name="password" id="password">
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email">
                </div>

                <button>Register</button>
            </form>
        </div>
    </main>