:root,
[data-theme="glass"] {
    --main-bg-color: #cdb4db;
    --main-header-color: #ffafcc;
    --todo-bg-color: #a2d2ff;
    --todo-item-color: #ffc8dd;
    --edit-color: #cdb4db;
    --background: rgb(107, 115, 214);
    --bg-gradient: linear-gradient(90deg, rgba(107, 115, 214, 1) 0%, rgba(200, 171, 217, 1) 58%);
    --glassBackground: rgba(255, 255, 255, .25);
    --glassBackground-shd: 5px 5px 10px rgba(255, 255, 255, 0.1);
    --glassBackground-blur: blur(20px);
    --header-text: #000000;
}

[data-theme="blue"] {
    --main-bg-color: #f1faee;
    --main-header-color: #457b9d;
    --todo-bg-color: #a8dadc;
    --todo-item-color: #f1faee;
    --edit-color: #457b9d;
    --background: inherit;
    --bg-gradient: inherit;
    --header-text: #000000;
}

[data-theme="blackAndWhite"] {
    --main-bg-color: #e9ecef;
    --main-header-color: #343a40;
    --todo-bg-color: #ced4da;
    --todo-item-color: #f8f9fa;
    --edit-color: #adb5bd;
    --background: inherit;
    --bg-gradient: inherit;
    --glassBackground: rgba(255, 255, 255, .25);
    --glassBackground-shd: 5px 5px 10px rgba(255, 255, 255, 0.1);
    --glassBackground-blur: blur(20px);
    --header-text: #e9ecef;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    background: var(--background);
    background: var(--bg-gradient);
    /* background: url("https://images.unsplash.com/photo-1624702660603-e32557833778?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=613&q=80");
    background-repeat: no-repeat;
    background-size: cover; */
}

main {
    margin: 20px;
    background-color: var(--glassBackground);
    backdrop-filter: var(--glassBackground-blur);
    border-radius: 10px;
    padding: 10px;
    box-shadow: var(--glassBackground-shd);
}

.fa-check,
.fa-times {
    color: rgba(0, 0, 0, .5);
}

.fa-check:hover,
.fa-times:hover {
    color: rgba(0, 0, 0, .95);
}

.fa-cog {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
}

.fa-exclamation {
    color: red;
}

.overdueDiv {
    margin: none;
    margin-top: 8px;
    margin-left: 5px
}

h1 {
    text-align: center;
}

.add-todo-div {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.add-todo-div button {
    background-color: var(--todo-bg-color);
    font-size: 1.25rem;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
}

.add-todo-div button:hover {
    color: purple;
    transform: translate(0, -1px);
    transition: transform 3s;
    transition: color 3s;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
}

.add-todo-div input {
    font-size: 1.25rem;
}

.maindiv {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 0px 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(20px);
    border-radius: 10px; */
}

.todo-div {
    background-color: var(--todo-bg-color);
    min-height: 50px;
    margin: 1rem;
    width: 300px;
    min-width: 250px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.todo-header {
    background-color: var(--main-header-color);
    padding: .4rem .9rem;
    font-weight: 600;
    font-size: 1.25em;
    color: var(--header-text);
}

.todo-item {
    margin: .5rem;
    box-sizing: border-box;
    background-color: var(--todo-item-color);
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.drop {
    background-color: var(--todo-bg-color);
    border: 1px solid black;
}

.todo-item input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 1rem;
    padding: .5rem;
}

.todo-item input:focus {
    outline: none;
}

/* .editInput {
    color: purple;
    outline: 1px solid black;
} */

.todo-detail {
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    /* border: 1px solid black; */
}

.todo-detail textarea,
.todo-detail input {
    box-sizing: border-box;
    /* background-color: white; */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: .75rem;
    padding: .5rem;
    margin: .25rem 0;
}

.todo-detail label {
    font-size: .9rem;
}

.todo-detail textarea {
    width: 100%;
    resize: none;
}

.todo-detail textarea:read-only {
    border: none;
}

.todo-detail input {
    width: 140px;
}

.todo-detail-icons {
    text-align: right;
}

.todo-detail-icons span {
    padding: 5px;
    color: black;
}

.todo-detail-icons span:hover {
    background-color: var(--main-header-color);
    cursor: pointer;
    transition: background-color 2s;
}

.readonly {
    background: none;
}

.notvisible {
    display: none;
}

.viewingItem {
    border: 2px solid black;
}

.viewingItem {
    border: 2px solid black;
}

.todo-item-header {
    display: flex;
}

.todo-item-title-div {
    margin-right: 8px;
    margin-top: 8px;
    cursor: pointer;
}

.todo-detail-icons form {
    display: inline;
}

.deletebtn {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
}

.todo-detail .fieldEditable {
    background-color: var(--edit-color);
}

.todo-item-header .fieldEditable {
    background-color: var(--edit-color);
}

.fieldEditable {
    background-color: var(--edit-color);
}

#completedDivBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    /* text-align: center; */
    margin: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--todo-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    /* border: 2px solid black; */
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--main-header-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--main-header-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.maindivSetup {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    margin: 10px auto;
    max-width: 400px;
}

.setupStyle {
    margin-top: 20px;
    /* background-color: purple; */
}

.setupStyle select {
    width: 100%;
}

.topic-card {
    background-color: var(--todo-item-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: flex-start; */
    margin: 5px;
    height: 2rem;
    padding: 5px 10px;
}

.topic-card form {
    display: inline;
    /* justify-content: flex-end; */
    /* align-content: flex-end; */
}

.topic-card button {
    background: none;
    padding: 5px;
    /* border: none; */
    cursor: pointer;
    border: 1px solid black;
}

.topic-card button:hover {
    background-color: var(--main-header-color);
}

.calendarMain {
    display: flex;
    justify-content: center;
}

#calendar {
    width: 100%;
    max-width: 1100px;
    /* text-align: center; */
}

.spanDetail {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    background-color: white;
    z-index: 100;
    /* border-color: black transparent transparent transparent; */
}

.spanDetail h4 {
    margin: 0;
    padding: 0;
}

.landingMain {
    display: flex;
}

.landingMain img {
    max-height: 400px;
}

.landingMain h1 {
    text-align: left;
    font-size: 70px;
    margin-bottom: 0;
}

.landingLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    justify-content: center;
    margin-left: 200px;
}

.landingLeft button {
    /* margin: 1rem; */
    padding: .75rem;
    width: 100px;
    margin-bottom: 30px;
    background-color: var(--main-header-color);
    cursor: pointer;
    -webkit-appearance: button;
    border: 0px solid transparent;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.landingLeft button:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.registerDiv {
    margin: 10px auto;
    width: 400px;
    /* background-color: blue; */
}

.registerDiv div {
    margin: 10px;
    font-size: 20px;
}

.registerDiv input {
    width: 100%;
    font-size: 20px;
}

.registerDiv button {
    font-size: 20px;
    margin: 10px;
}

.showLists {
    width: 300px;
}

.showLists span {
    padding: 5px;
}

.showLists .topic-card:hover {
    background-color: var(--main-header-color);
}

.viewLinks {
    font-size: 20px;
}

.viewLinks a {
    padding: 5px;
}


/* .fc-event-title {
    z-index: 1;
} */

.remove-topic {
    /* align-content: flex-end; */
}

/* 
@media(max-width: 800px) {
    .maindiv {
        flex-direction: column;
        align-items: center
    }
} */