:root {
    --main-bg-color: #cdb4db;
    --main-header-color: #ffafcc;
    --todo-bg-color: #a2d2ff;
    --todo-item-color: #ffc8dd;
    --edit-color: #cdb4db;
}

[data-theme="blue"] {
    --main-bg-color: #f1faee;
    --main-header-color: #457b9d;
    --todo-bg-color: #a8dadc;
    --todo-item-color: #f1faee;
    --edit-color: #457b9d;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

main {
    /* margin: auto 10rem; */
}

.fa-cog {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
}

.fa-exclamation {
    color: red;
}

.overdueDiv {
    margin: none;
    margin-top: 8px;
    margin-left: 5px
}

h1 {
    text-align: center;
}

.add-todo-div {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.add-todo-div button {
    background-color: var(--todo-bg-color);
    font-size: 1.25rem;
}

.add-todo-div input {
    font-size: 1.25rem;
}

.maindiv {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
}

.todo-div {
    background-color: var(--todo-bg-color);
    min-height: 50px;
    margin: 1rem;
    width: 300px;
    min-width: 250px;
}

.todo-header {
    background-color: var(--main-header-color);
    padding: .4rem .9rem;
    font-weight: 600;
    font-size: 1.25em;
}

.todo-item {
    margin: .5rem;
    box-sizing: border-box;
    background-color: var(--todo-item-color);

}

.drop {
    background-color: var(--todo-bg-color);
    border: 1px solid black;
}

.todo-item input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 1rem;
    padding: .5rem;
}

.todo-item input:focus {
    outline: none;
}

/* .editInput {
    color: purple;
    outline: 1px solid black;
} */

.todo-detail {
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    /* border: 1px solid black; */
}

.todo-detail textarea,
.todo-detail input {
    box-sizing: border-box;
    /* background-color: white; */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: .75rem;
    padding: .5rem;
    margin: .25rem 0;
}

.todo-detail label {
    font-size: .9rem;
}

.todo-detail textarea {
    width: 100%;
    resize: none;
}

.todo-detail textarea:read-only {
    border: none;
}

.todo-detail input {
    width: 140px;
}

.todo-detail-icons {
    text-align: right;
}

.todo-detail-icons span {
    padding: 5px;
    color: black;
}

.todo-detail-icons span:hover {
    background-color: var(--main-header-color);
    cursor: pointer;
}

.readonly {
    background: none;
}

.notvisible {
    display: none;
}

.viewingItem {
    border: 2px solid black;
}

.viewingItem {
    border: 2px solid black;
}

.todo-item-header {
    display: flex;
}

.todo-item-title-div {
    margin-right: 8px;
    margin-top: 8px;
    cursor: pointer;
}

.todo-detail-icons form {
    display: inline;
}

.deletebtn {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
}

.todo-detail .fieldEditable {
    background-color: var(--edit-color);
}

.todo-item-header .fieldEditable {
    background-color: var(--edit-color);
}

.fieldEditable {
    background-color: var(--edit-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    /* text-align: center; */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--todo-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    /* border: 2px solid black; */
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--main-header-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--main-header-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.topic-card {
    background-color: var(--todo-item-color);
    display: flex;
    /* justify-content: flex-start; */
    margin: 5px;
    height: 2rem;
}

.topic-card form {
    display: inline;
    /* justify-content: flex-end; */
    /* align-content: flex-end; */
}

.topic-card button {
    background: none;
    padding: 0;
    /* border: none; */
    cursor: pointer;

}

.remove-topic {
    /* align-content: flex-end; */
}

/* 
@media(max-width: 800px) {
    .maindiv {
        flex-direction: column;
        align-items: center
    }
} */